mixin decision(cl)
	.decision(class=cl)
		span Профессиональные 
		span решения 
		span в области вендинга
mixin socials
	.social
		each contact in ['whatsapp','viber','telegram']
			a(href="#").social__link.hvr-grow
				img(src=`./templates/default/images/socials/${contact}.svg`, alt=`${contact}`)
mixin contacts(cl)
	.contacts(class=cl)
		.contacts__phone.hvr-grow
			a(href="tel:84997034217").contacts__tophone 
				span 8 (499) 703-42-17
		.contacts__social
			+socials
mixin navlist(cl)
	ul.navlist(class=cl)
		li.navlist__item Главная
		li.navlist__item О компании
		li.navlist__item Система и компоненты CRM
		li.navlist__item Вендинг аналитика
		li.navlist__item Тарифы и цены
		li.navlist__item Полезная информация
		li.navlist__item Контакты
mixin review(cl,name,job,pic,desc)
	.review(class=cl)
		.review__content
			.review__avatar
				.review__img
					img(src=`./upload/images/reviews-slider/review-${pic}.jpg`, alt="pic")
				.review__icon
					img(src="./templates/default/images/reviews_chat.png", alt="chat")
			.review__about
				.review__name=name
				.review__job=job
			.review__description
				.review__quote
					img(src="./templates/default/images/reviews_quote.svg", alt="quote")
				.review__text=desc
			.review__all
				span Все отзывы
				.review__arrow
					img(src="./templates/default/images/slider_arrow.png", alt="arrow")
					